/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 420px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
  box-sizing: border-box;
  cursor: pointer;
}
