{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-misleading-character-class": 1,

    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/consistent-type-imports": 2
  },
  "ignorePatterns": ["src/type/**/*.ts"]
}
