.features {
  /* display: flex;  */
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.titleSection {
  margin-top: 90px;
  margin-bottom: 60px;
}

.title {
  margin-bottom: 52px;
}

.subtitle {
  color: #555;
}
