:root {
  --vp-c-brand-1: #8f52fa;
  --vp-c-brand-2: #a472fb;
  --vp-c-brand-3: #7a32f9;
  --vp-c-brand-soft: rgba(143, 82, 250, 0.14);

  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    120deg,
    #8f52fa 30%,
    #a472fb 70%
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #8f52fa 50%,
    #ceb3fd 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

.dark {
  --vp-c-brand-1: #a472fb;
  --vp-c-brand-2: #8f52fa;
  --vp-c-brand-3: #ceb3fd;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
}
